
    
     body {font-family:Comic Sans MS}
     
     h1 {font-family:Arial Black}
     
     .main {padding:20px;padding-top:80px}
     
     #fandomList {background-color:azure;border-radius:10px;border:1px solid black;max-width:400px}
    
     
     header{position:fixed;width:100%;z-index:10}
     .navbar {background:maroon}
     
     .navbar-brand {color:gold !important}
     #navbarSupportedContent{color:white;margin-top:10px}
     .nav-item {background-color:brown;border:1px solid gold;border-radius:10px;margin-left:5px;margin-right:5px;margin-bottom:5px;text-align:center}
     .nav-item:hover {background-color:#931314}
     
     .navbar-toggler-icon {background-color:brown;border-radius:10px;}
     
     .timeline-item {background-color:maroon;border-radius:10px;height:170px;margin:10px}
     
     .timeline-image {float:left;margin-right:10px;border-radius:100px}
     
     .timeline-text {height:170px;overflow-y:auto;padding-top:15px}

     object {width:100%}
     
  
